/* style.css */
p {
    color: black;
    font-size: 16px;
}

h1 {
    color: yellow;
}
body{
    background-image: url("https://www.cyzo.com/images/kusanagi0703.jpg");
    background-position: top left;
    background-size:  cover;
    background-repeat:  no-repeat;
}