/* style.css */
p {
    background-color: #000000;
    font-size: 16px;
    color:#ffffff;
}

h1 {
    color: #FFFF00;
}
body{
    background-image: url("https://www.cyzo.com/images/kusanagi0703.jpg");
    background-position: top left;
    background-size:  cover;
    background-repeat:  no-repeat;
}